<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuAjudo - </title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/main.css">

</head>

<body>

    <div id="pagina-inicial">
        <header>
            <h2>EuAjudo</h2>
            <h2>EuAjudo</h2>
        </header>
    
        <h1>Campanhas Solidárias</h1>
    
        <p>Encontre voluntários ou voluntarie-se em ações do seu interesse!</p>
    
        <a class="btn-link" href="/login">Entrar</a>
        
    </div>
    
</body>
</html>