<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuAjudo || Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/pagina-registro-organization.css">

</head>

<body>

    <div id="pagina-registro">
        <header>
            <a href="/">
                Voltar ao início
            </a>
        </header>

        <form action="/sessions/login" method="POST">
            <h1>Login</h1>

           <fieldset>

                <div class="field">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" required>
                </div>
               
                <div class="field">
                    <label for="password">Senha</label>
                    <input type="password" name="password" required>     
                </div>
                
                <p>Quem é você?</p>
                <input type="radio" name="type" value="user" required>
                <label for="user">Usuário</label>

                <input type="radio" name="type" value="org" required>
                <label for="org">Organização</label>

           </fieldset>

            <button type="submit">Entrar</button>
            <div class="field">
                <a class="btn-register" href="/user/signup">Usuário</a></a>
                <a class="btn-register" href="/org/signup">Cadastrar Organização</a>
            </div>
            
        </form>
    
    </div>
    
    <script src="../scripts/pagina-registro-organization.js"></script>
</body>
</html>
