html {
    font-family: 'Roboto', sans-serif;
    color: aqua;

}

#pagina-inicial {
    width: 90%;
    
    margin: 0 auto;    
}

#pagina-inicial header {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: aqua;
}

#pagina-inicial button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    width: 200px;
    height: 30px;
    align-items: center;
    font-size: 15px;
    color: aqua;
    background-color: white;
}
}