html {
    font-family: 'Roboto', sans-serif;
    color: white;

}

#pagina-inicial {
    width: 90%;
    
    margin: 0 auto;    
}

#pagina-inicial header {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: aqua;
}